<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,0},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,4},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,8},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,12},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,16},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,20},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,24},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,28},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,32},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,36},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,4}</string>
                <key>spriteSourceSize</key>
                <string>{488,4}</string>
                <key>textureRect</key>
                <string>{{0,40},{488,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>laser.png</string>
            <key>size</key>
            <string>{488,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d7760c50a2d0b1ed152632dfd1d9c9:8d468bbd8d26437329f27992256f6d74:70bc5ecc2974f393155290b4a30d2595$</string>
            <key>textureFileName</key>
            <string>laser.png</string>
        </dict>
    </dict>
</plist>
