<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,178}</string>
                <key>spriteSourceSize</key>
                <string>{177,178}</string>
                <key>textureRect</key>
                <string>{{176,0},{177,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{353,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,178}</string>
                <key>spriteSourceSize</key>
                <string>{177,178}</string>
                <key>textureRect</key>
                <string>{{529,0},{177,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopping_cart_btn.png</string>
            <key>size</key>
            <string>{706,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e344407d56270e80ccbf617884e83dc:8405a86ca1b51f4ba4fe4231a2c113e7:1c0060774e60dac261f15c338c69f141$</string>
            <key>textureFileName</key>
            <string>shopping_cart_btn.png</string>
        </dict>
    </dict>
</plist>
