<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{176,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{352,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{176,178}</string>
                <key>textureRect</key>
                <string>{{528,0},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>trophy_btn.png</string>
            <key>size</key>
            <string>{704,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80512578d34f8f1cdcca2e4c92489eeb:02ebe80310cec24ea838a6527bd88f71:4c1741f19023cf673aa55d66e2890221$</string>
            <key>textureFileName</key>
            <string>trophy_btn.png</string>
        </dict>
    </dict>
</plist>
